body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* .container {
  border: 1px black;
} */


label, input, textarea {
  display: block;
  margin: 1rem 0;
}

